.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 1em;
}

.ernest {
  float: left;
  margin-top: 5em;
  max-width: 50%;
  height: 100%;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1em;
  cursor: auto;
}

.bubble {
  position: absolute;
  right: 10px;
  margin-top: -2em;
}

.speech{
  position: absolute;
  right: 150px;
  top: 300px;
  width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
